<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://login.salesforce.com/services/Soap/c/46.0/0DFf4000000hJ2i"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SfdcReference.Soap" name="Soap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="SQLLHDBConnectionString" connectionString="Data Source=F01\SQLEXPRESS;Initial Catalog=Sqllhdb;Persist Security Info=True;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />
    <add name="ProjectModelDbEntities" connectionString="metadata=res://*/ProjectModel.csdl|res://*/ProjectModel.ssdl|res://*/ProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F01\SQLEXPRESS;initial catalog=Sqllhdb;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PermitDbEntities" connectionString="metadata=res://*/Model.PermitDbModel.csdl|res://*/Model.PermitDbModel.ssdl|res://*/Model.PermitDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=F01\SQLEXPRESS;Initial Catalog=Sqllhdb;Persist Security Info=True;User ID=sa;Password=sa123456;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SubContractDbEntities" connectionString="metadata=res://*/Model.SubContractModel.csdl|res://*/Model.SubContractModel.ssdl|res://*/Model.SubContractModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F01\SQLEXPRESS;initial catalog=Sqllhdb;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpecificationDbEntities" connectionString="metadata=res://*/Model.SpecificationDbModel.csdl|res://*/Model.SpecificationDbModel.ssdl|res://*/Model.SpecificationDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=F01\SQLEXPRESS;Initial Catalog=Sqllhdb;Persist Security Info=True;User ID=sa;Password=sa123456;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeDbModelEntities" connectionString="metadata=res://*/Models.EmployeeDbModel.csdl|res://*/Models.EmployeeDbModel.ssdl|res://*/Models.EmployeeDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F01\SQLEXPRESS;initial catalog=Sqllhdb;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerDbEntities" connectionString="metadata=res://*/Model.CustomerModel.csdl|res://*/Model.CustomerModel.ssdl|res://*/Model.CustomerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=F01\SQLEXPRESS;Initial Catalog=Sqllhdb;Persist Security Info=True;User ID=sa;Password=sa123456;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultStructuralDrawingEmployeeID" value="3" />
    <add key="DefaultGraphicDrawingEmployeeID" value="7" />
    <add key="DefaultEstimateEmployeeID" value="8" />
    <add key="DefaultWorkorderApproverEmployeeIDProduction" value="8" />
    <add key="DefaultWorkorderApproverEmployeeIDService" value="8" />
    <add key="DefaultWorkorderApproverEmployeeIDSitecheck" value="8" />
    <add key="ResponseTime-ArtDrawing" value="48" />
    <add key="ResponseTime-WorkorderApprove" value="24" />
    <add key="ResponseTime-StructuralDrawing" value="48" />
    <add key="ResponseTime-Estimation" value="48" />
    <add key="GstRate" value="0.05" />
    <add key="PstRate" value="0.08" />
    <add key="HstRate" value="0.13" />
    <add key="ServerPrefix" value="forwardsigns" />
    <add key="DiskName" value="K:,P:,Q:,H:" />
    <add key="DiskPath" value="\\Forward1\Project,\\Main\Common,\\Main\Common2,\\Main\MIS_LINK" />
    <add key="ContractPath_IE" value="File://P:\\Contract2010\\" />
    <add key="ContractPath_File" value="\\F01\ContractDoc\" />
    <add key="SubContractPath_IE" value="File://P:\\SubContract\\" />
    <add key="SubContractPath_File" value="\\MAIN\Common\SubContractDoc\" />
    <add key="ResponseReportEmployeeListArtroom" value="Joe, Athony, Vince" />
    <add key="ResponseReportEmployeeListQD" value="David, Fan, Jack, Sean, Henry" />
    <add key="TeamCount" value="6" />
    <add key="CopyDetailsToWorkorder" value="No" />
    <add key="CopyDetailsToInvoice" value="Yes" />
    <add key="Leadtime-Takedown" value="2" />
    <add key="Leadtime-Service" value="2" />
    <add key="Leadtime-SiteCheck" value="2" />
    <add key="Leadtime-Special-Sample" value="1" />
    <add key="InstallerLabourhourRate" value="50" />
    <add key="CommissionProjectCategoryInvoiceCutOffDate" value="Apr. 1, 2008" />
    <add key="CommissionProjectCategoryYearsOfChangeToOldFromNew" value="3" />
    <add key="CommissionProjectCategoryYearsToDeemAsInActive" value="3" />
    <add key="CommissionWriteEnabledEmployeeID" value="0581" />
    <add key="EmailAddressMisDefault" value="misinfo@forwardsign.com" />
    <add key="EmailToAddressHR" value="leahzou@forwardsign.com" />
    <add key="EmailAddressSalesFollowupFrom1" value="philiph@forwardsign.com" />
    <add key="EmployeePictureWidthPixel" value="120" />
    <add key="EmployeePictureHeightPixel" value="90" />
    <add key="BiddingJobEstimator1" value="87" />
    <add key="AbnormalWorkorderApprover" value="97,34,703" />
    <add key="IsApplyAbnormalWorkorderValidation" value="YES" />
    <add key="Disclaimer" value="Published at Nov 21, 2014 " />
    <add key="PollingInterval" value="60"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>